nav{
    background-color: var(--color1);
}

.offcanvas{
    background-color: var(--color1);
}

.navbar-brand{
    color: var(--background);
}

.navbar-brand:hover{
    color: var(--color-1);
}

.nav-link{
    color: var(--color-1);
}
.nav-link:hover{
    color: var(--background);
}


.dropdown-menu {
    background-color: var(--color1);
    color: var(--color-1);
}

.dropdown-item{
    color: var(--color-1);
}

.dropdown-item:hover{
    color: var(--color1);
}

.offcanvas-title {
    color: var(--background);
}

