.container-fluid{
    position: relative;
    width: 90vw;
    min-height: 100%;
}

#forml,#list{
    background-color: var(--color);
    border-radius: 30px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#list{
    margin-bottom: 24px;
}

tr:hover{
    background-color: var(--color-1);
}